@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

@layer components {
  .primary-btn {
    @apply text-ellipsis rounded py-2 px-3 decoration-blue-600 hover:bg-blue-600 hover:bg-opacity-20 hover:text-blue-600 hover:underline;
  }
  .like_parent_styles {
    @apply flex justify-center items-start mt-10 lg:bg-none md:bg-none bg-white lg:py-0 md:py-0 py-2 shadow shadow-gray-600 lg:shadow-none md:shadow-none lg:rounded-none md:rounded-none rounded-t-lg lg:static md:static fixed bottom-0 w-full z-20;
  }
  .like_button {
    @apply lg:space-y-4 md:space-y-4 flex items-center lg:flex-col flex-row md:flex-col justify-between w-2/3 lg:fixed md:fixed;
  }
  .like_button_li {
    @apply flex lg:flex-col md:flex-col flex-row items-center lg:space-y-1 space-x-2 lg:space-x-0 md:space-x-0;
  }
}

/* loader */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: rgb(37 99 235);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0, -4px);
  -ms-transform: rotate(3deg) translate(0, -4px);
  transform: rotate(3deg) translate(0, -4px);
}
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .bar,
.nprogress-custom-parent #nprogress .spinner {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
